<link href='http://fonts.googleapis.com/css?family=Monda:400,700|Comfortaa' rel='stylesheet' type='text/css'>

<div class="teams">
    <div class="team1 team">
        <input type="text" value="EQUIPO 1" />
        <span class="score">0</span>
    </div>
    <div class="team2 team">
        <input type="text" value="EQUIPO 2" /> 
        <span class="score">0</span>        
    </div>
    <div class="toolbox">
       <input type="button" value="Start" class="start" />
       <div class="timer" style="display: none">
           <span class="minutes">00</span>:<span class="seconds">00</span>
        </div>
    </div>
</div>

<div class="container" style="display: none">

<ul class="options">
    <li class="cosa"><a href="javascript:;">Cosa</a></li>
    <li class="musica"><a href="javascript:;">M&uacute;sica</a></li>
    <li class="serie"><a href="javascript:;">Serie</a></li>
    <li class="pelicula"><a href="javascript:;">Pel&iacute;cula</a></li>
</ul>

<div class="result">
</div>
    
    <div class="answer" style="display: none;">
    Adivin&oacute;?
        
        <input type="button" value="SI" class="si" />
        <input type="button" value="NO" class="no" />
        
    </div>
    
    
    <a class="restart" href="javascript:;">Reiniciar Juego</a>

</div>​